<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success mt-2">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item text-info clearfix" *ngFor="let recipe of recipes">
            <div class="float-left d-block mx-auto">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text text-left">{{recipe.description}}</p>
            </div>
            <span class="float-right d-block mx-auto">
                <img  [src]="recipe.imagePath" 
                alt="{{recipe.name}}" 
                class="img-responsive" style="max-height:70px;">
            </span>
        </a>
            <app-recipe-item></app-recipe-item>
    </div>
</div>
